* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  height: 40px;
  line-height: 40px;
  flex-basis: 100px;
  font-family: "Courier New", Courier, monospace;
}

body {
  padding-top: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;

  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;

  z-index: 100;

  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.4s;

  background-color: #fff;
  border: 2px dotted pink;
}

#gnbList {
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

#gnbList li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  text-align: center;
}

#gnbList li a:hover {
  background-color: #eee;
}

main {
  padding: 50px 0px;
  background-color: rgb(255, 226, 226);
}

main .imgList {
  display: flex;
  justify-content: center;
}

.imgList li {
  height: 150px;
  width: 100px;
  border: 2px dotted rgba(255, 248, 248, 0.993);
}

.imgList li + li {
  margin-left: 10px;
}

.imgList li a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imgList li a img {
  height: 100%;
  transition: 0.4s;
}

.imgList li a:hover img {
  transform: scale(1.2);
}

/* 800px보다 작으면 헤더 안보이게 */

@media (max-width: 800px) {
  #gnbList {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  header:hover {
    max-height: 200px;
  }

  header .btnside {
    display: block;
  }
}

.btnside {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
}

.btnside span {
  display: block;

  width: 20px;
  height: 2px;

  background-color: black;
}

.btnside span:nth-child(2) {
  margin: 5px 0;
}

@media (min-width: 800px) {
  #btnside {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

#gnbList:hover {
  height: auto;
  /* animation: fade-in 0.4s, slide-down 0.4s; */
}

header .btnside {
  display: flex;
}

.sidewrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  flex-basis: 100px;
}

.btnside:hover {
  max-height: 200px;
}
