body {
  height: 2000px;
}
.container {
  width: 500px;
  height: 500px;
  border: 3px solid black;
  padding: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: rgb(252, 112, 177);
  opacity: 0;
  animation-name: scaleup, fadein; /* 실행하고자 하는 애니메이션의 이름을 @keyframes를 통해 지정해 주어야 함. */
  animation-duration: 3s, 3s; /* 지속시간 */
  animation-delay: 1s, 1s; /* 지연시간 */
  animation-timing-function: linear, ease; /* 값 변화의 폭 */
  animation-iteration-count: 1; /* 애니메이션 반복 횟수 infinite(무한) or 숫자 */
  animation-direction: normal; /* 애니메이션의 방향 reverse(시작점이 반대로), alternate(애니메이션이 끝난 후 반대 방향으로 진행) alternate-reverse */

  animation-fill-mode: both;
  animation-play-state: running; /* running(기본값), paused(정지). 재생 상태를 제어한다. */

  /* fowards(끝난 후 애니메이션의 끝프레임의 상태를 유지한다.)
    backwards(딜레이가 있을 때 애니메이션 시작 프레임을 적용한다.) 
    both(시작 프레임, 끝프레임 모두 유지한다.)
  */

  animation: scaleup 1s 1s ease normal both, fadein 1s 1s linear 2 forwards;
}

/* 
    애니메이션 정의
    구간마다 상태값을 설정.
    from(시작점) ~ to(끝점) : 원래 상태에서 시작하면 from 생략 가능, 
    % : 0~100% 세부조정 가능
*/
@keyframes scaleup {
  20% {
    width: 0px;
  }

  40% {
    width: 200px;
  }

  60% {
    width: 500px;
  }

  100% {
    width: 500px;
  }
}

/* opacity(투명도) fadein(서서히 나타나는 효과) */

@keyframes fadein {
  from {
    background-color: rgb(88, 164, 250);
  }

  to {
    opacity: 1;
  }
}

/* 오른쪽 하단에 동그란 버튼 스크롤되어도 고정되게, 밑에서 나타나는 효과 1회*/

.box2 {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50%;

  position: fixed;
  right: 50px;
  bottom: 50px;

  animation: fade 1s, slide 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

@keyframes slide {
  from {
    transform: translateY(20px);
  }
}
